# Notebook to map respondent ID to entity ID

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
engine = create_engine("sqlite:///ferc1.sqlite")

id_table = pd.read_sql(
    "SELECT filing_name, entity_id FROM identification_001_duration",
    engine,
    parse_dates=["start_date", "end_date"]
)

In [3]:
id_table

                                            filing_name entity_id
0     AepAppalachianTransmissionCompanyInc-436-2011Q3F1   R001436
1     AepAppalachianTransmissionCompanyInc-436-2011Q4F1   R001436
2                       AepGeneratingCompany-1-2011Q3F1   C003184
3                       AepGeneratingCompany-1-2011Q4F1   C003184
4     AepIndianaMichiganTransmissionCompanyInc-440-2...   R001440
...                                                 ...       ...
1257    WolverinePowerSupplyCooperativeInc-227-2021Q1F1   C001188
1258    WolverinePowerSupplyCooperativeInc-227-2021Q2F1   C001188
1259           YankeeAtomicElectricCompany-198-2020Q4F1   C002116
1260           YankeeAtomicElectricCompany-198-2021Q1F1   C002116
1261           YankeeAtomicElectricCompany-198-2021Q2F1   C002116

[1262 rows x 2 columns]

In [11]:
id_table["respondent_id"] = id_table["filing_name"].str.extract(r'.+-(\d+)-.+')
map_table = id_table.drop("filing_name", axis=1).drop_duplicates()

In [16]:
map_table.to_csv("respondent_map.csv", index=False)

In [22]:
map_table["entity_id"][map_table["entity_id"].duplicated()]

854     C000319
1231    C001252
Name: entity_id, dtype: object